<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>{{title}}</h1>
      <h3>Usage:</h3>
      <code>https://calm-retreat-96229.herokuapp.com/12-25-81</code><br>
      <code>https://calm-retreat-96229.herokuapp.com/December%2025%201981</code><br>
      <code>https://calm-retreat-96229.herokuapp.com/378086400</code>
      <h3>Output:</h3>
      <code>{ unix: 378086400, natural: "December 25, 1981" }</code>
    </div>
  </body>
</html>